.header{
  max-width: 960px;
  margin: 0 auto;
  overflow: auto;
}
.wrapper{
  position: relative;
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.block-logo{
  margin:12px 0 20px 0;
  position:relative;
  float: left;
}
.block-logo-center{
  width: 279px;
  height: 108px;
  background-color:#777777;
  margin:24px 0 20px 20px;
  float: left;
}
.block-logo-right{
  width: 513px;
  height: 108px;
  background-color:#777777;
  margin:24px 0 20px 20px;
  left: 496px;
  top: 0;
  float: left;
}
.block-logo-contact{
  text-align: right;
  margin-right: 20px;
  margin-top:20px;
  color: white;
}
.block-logo-contact a{
  color: white;
}
hr{
  position: relative;
  width: 955px;
  color:#000000;
}