.content{
display: flex;
}
.wrapper-block-left-sidebar{
  min-width: 184px;
  margin-top:20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 775px;
}
.block-left-sidebar{
  background-color: #777777;
  width:184px;
  height: 335px;
  position:relative;
  overflow: auto;
}
.block-left-sidebar h2{
  color:#ffffff;
  margin-left: 10px;
}
.block-left-sidebar li{
  list-style: none;
  color:#ffffff;
  margin-left: 10px;

}
/*center content*/
.wrapper-block-center-content{
height: 772px;
  width:959px;

}
.block-center-content{
  background-color: #dcdcdc;
  width:757px;
  height: 210px;
  margin-top:20px;
  margin-left: 20px;
  padding:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.block-center-text{
  color:#777777;
  margin-left:20px;
  margin-top:20px;
}
.block-center-text li{
  margin-left:40px;
}

.flex-container-square{
  margin-left: 20px;
  margin-top: 18px;

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 770px;
  height: auto;

}
.flex-container-2{
  display: flex;
  margin: 20px 0 0 20px;
  justify-content: space-between;
}
.flex-container-rows{
  width:368px;
  height:200px;
  background-color: #dcdcdc;

}
.block-left-sidebar-down{
  background-color: #777777;
  width:184px;
  height:134px;
  margin-top: 85px;
}
.flex-container-rows span{
  display: inline-block;
  margin: 20px;
  color:#777777;
}